<h1>Landing Page</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<script id="stay22-script">
  document.addEventListener("DOMContentLoaded", function(e) {
    // 1. Edit widget size
    var settings22 = {
      width: '80%', // set the width in px or %
      height: '590px' // set the height in px or %
    };
    // 2. Fill out your config here and the rest should work
    var s22obj = {
      aid: 'affiliateid', // your affiliate id for tracking
      address: 'Centre Bell, Montreal' , // Lat/Lng or full street address. For latlng use the "lat":,"lng": keys instead
      checkin: '2020-08-22', // checkin date for their stay in MM/DD/YYYY or ISO 8601 format
      maincolor: '00549E' // your main brand color in hex (without the #)
    };
    // Leave this part intact
    var params22=''; for (var key in s22obj){if (params22){params22 +='&';}params22 +=key + '=' + encodeURIComponent(s22obj[key]);}var div22=document.getElementById('stay22-script'); div22.insertAdjacentHTML('afterend', '<iframe id="stay22-widget" width="' + settings22.width + '" height="' + settings22.height + '" src="' + 'https://www.stay22.com/embed/gm?' + params22 + '" frameborder="0"></iframe>');
  });
</script>
