
<script src="https://kit.fontawesome.com/cb3a12ad74.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">


<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Stay22</h1>
    <p>Upgrade your stay</p>
  </div>
</div>


<h1 class="text"> SPACE </h1>


<!-- Stay22 Map -->
<div class="container-1">
 <script id="stay22-script">
  document.addEventListener("DOMContentLoaded", function(e) {
    // 1. Edit widget size
    var settings22 = {
      width: '80%', // set the width in px or %
      height: '590px' // set the height in px or %
    };
    // 2. Fill out your config here and the rest should work
    var s22obj = {
      aid: 'affiliateid', // your affiliate id for tracking
      address: 'Centre Bell, Montreal' , // Lat/Lng or full street address. For latlng use the "lat":,"lng": keys instead
      checkin: '2020-08-22', // checkin date for their stay in MM/DD/YYYY or ISO 8601 format
      maincolor: '00549E' // your main brand color in hex (without the #)
    };
    // Leave this part intact
    var params22=''; for (var key in s22obj){if (params22){params22 +='&';}params22 +=key + '=' + encodeURIComponent(s22obj[key]);}var div22=document.getElementById('stay22-script'); div22.insertAdjacentHTML('afterend', '<iframe id="stay22-widget" width="' + settings22.width + '" height="' + settings22.height + '" src="' + 'https://www.stay22.com/embed/gm?' + params22 + '" frameborder="0"></iframe>');
  });
</script>
</div>


<!-- Footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
<!--     This footer is made with <i class="fas fa-heart"></i> by Perrin Bryson
 -->  </div>
</div>
